* {
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
}

#style-slide{
    transition-duration: .5s;
}

body{
    background-color: #13161F;
}

.navigation{
    position: absolute;
    z-index: 50;
    right: 50px;
    top: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-btn{
    margin-left: 50px;
    padding-left: 50px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    font-family: 'Teko', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.about-me-btn:hover{
    text-decoration: line-through;
}

#git-link{
    position: absolute;
    z-index: 6000;
    bottom: 50px;
    right: 50px;
    opacity: .5;
    transition-duration: .2s;
    cursor: pointer;
}

#git-link:hover{
    opacity: 1;
}

.about-me-modal{
    position: absolute;
    z-index: 5000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #13161F;
    color: white;
    transition-duration: .3s;
}

.about-me-modal.active{
    visibility: visible;
    opacity: 1;
    transition-duration: .3s;
}

.close-modal-btn{
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    cursor: pointer;
}

.close-modal-btn:hover{
}

.modal-content{
    margin: 15%;
}

.modal-content h1{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 10px;
    text-align: center;
}

.modal-content p{
    max-width: 700px;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
    line-height: 30px;
}

@media only screen and (max-width: 700px) {

    #git-link{
        display: none;
    }
    
}